
.navbar{

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1030;
    padding: 0 0 0 60px;
    

}

.navbar.navbar-dark{
    position: sticky;
}

.div1 {
    height: 500px;
    background-image: url(../../public/img/img-index/LiveFire_Hero7.webp);
    z-index: -99;
    size: auto ;
    
}

.logo{
    background-image: url(../../public/img/img-logo/727D0726-44F0-4F02-9402-64E7BEA94612.jpeg);
    height: 150px;
}

.nav-item{
    margin-left: 25px;

}